:root {
  --background: #f8fafc;
  --lightgrey: whitesmoke;
  --primary: #2563eb;
  --text: #1f2937;
  --success: #16a34a;
  --warning: #f59e0b;
  --danger: #dc2626;
  --font: 'Poppins';
}

#wrapper {
  margin: 0;
  outline: 1px solid;
  height: 100%;
  background: var(--background);
  min-height: 10rem;
  font-family: p;
}