/*----- NAVBAR -----*/
#Navbar{
    margin: 0;
    background: lightgray;
    font-family: var(--font);
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 1px 10px rgb(116, 116, 116);
    width: 100%;
    position: sticky;
}

#Navbar .left{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#Navbar .left svg{
    font-size: 2rem;
}

#Navbar .right{
    margin: 0 1.5rem 0 auto;
}

.search-wrapper{
    position: relative;
    width: 100%;
    max-width: 200px;
}

.search-icon-wrapper{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-wrapper input[type="search"]{
    width: 100%;
    padding: 5px 12px 5px 40px;
}

.right{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#Navbar .profile-image-holder{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#Navbar .profile-image-holder img{
    width: 30px;
}

#Navbar .user{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/*----- SIDEBAR -----*/
#Sidebar{
    width: 30%;
    max-width: 250px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: rgb(82, 82, 82);
    border-radius: 0 20px 20px 0;
    box-shadow: inset 0 0 10px 1px black;
}

#Sidebar a{
    font-family: Poppins;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background: transparent;
    font-size: 1.2rem;
}

.links{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link{
    border: 0;
    margin: 0 1rem;
    text-align: left;
    padding-left: 20px;
    height: 2rem;
}

.logout{
    border: 0;
    margin: 0 1rem;
    text-align: left;
    padding-left: 20px;
    background: white;
}

#Sidebar > .button-wrap{
    margin-bottom: 2rem;
}

.button-wrap{
    position: relative;
    cursor: pointer;
}

.button-wrap svg{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}

.button-wrap button{
    box-sizing: border-box;
}

/*----- DASHBOARD -----*/
#Dashboard{
    margin-top: 1rem;
    width: 98%;
}

.stat-holder{
    margin-left: 1rem;
    display: flex;
    gap: 5vw;
}

.stat-card{
    border: 2px solid;
    box-shadow: 0 3px 5px 0px rgb(199, 199, 199);
    border-radius: 10px;
    width: 10rem;
    transition: transform 0.3s;
}

.stat-card:hover{
    transform: translateY(-5px);
}

.stat-card > p{
    text-align: center;
}

.stat-card .title {
    font-size: 1rem;
    font-family: monospace;
}